<!-- INFO START -->
<section class="available__info">
	<h2 class="visuallyhidden">Обращение к читателям</h2>
	<div class="available__info-description">
		<p>
			<span>Уважаемые читатели!</span> <br>
			Лицам с ограниченными возможностями по здоровью <br>
			и другим маломобильным группам населения <br>
			библиотека предлагает книги с доставкой на дом!
		</p>
		<p>Желающих воспользоваться данной услугой просим позвонить по телефонам: <br>
			<span>35-75-17, 35-57-18, 35-53-67</span>
		</p>
		<div class="available__info-text border-elem">
			<p>Основными направлениями и особенностями по обеспечению доступной среды жизнедеятельности инвалидов в Российской
				Федерации являются: ориентация на устранение всевозможных барьеров, возникающих перед людьми с ограниченными
				возможностями.
			</p>
			<p>
				Если вы нуждаетесь в информации - мы готовы вам помочь!
			</p>
			<p>Предлагаем полезную информацию для успешной и качественной жизни!
			</p>
			<p>Мы подготовили для вас информационный список статей из периодических изданий.
			</p>
		</div>
	</div>
	<img src="./img/available/invalid.png" alt="Изображение: Лицо с ограниченными возможностями"
		class="available__info-image">
</section>
<!-- INFO END -->