<section class="documents__section">
	<div class="documents__item set">
		<h2 class="section-title set-title">Законодательство, регламентирующее деятельность библиотек
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Федеральный закон РФ "О библиотечном деле"
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Закон Тульской области "О библиотечном деле"
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Модельный стандарт
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Модельный стандарт деятельности библиотек
					МУК ТБС
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Учредительные документы МУК ТБС
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Решение учредителя о создании муниципального
					учреждения
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Коллективный договор
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Коллективный договор работодателя и
					трудового коллектива МУК "Тульская библиотечная система"
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Антикоррупционная деятельность
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Антикоррупционная политика Муниципального
					учреждения культуры "Тульская библиотечная система"
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>План мероприятий МУК "Тульская библиотечная
					система" по предупреждению и противодействию коррупции на 2020-2022 гг.
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Персональные данные
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Политика МУК "Тульская библиотечная система"
					в отношении обработки персональных данных
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Закон Тульской области "О библиотечном деле"
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Положения о библиотеках МУК ТБС
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item">
				<a href="#" download>ЦГБ им. Л.Н. Толстого
				</a>
			</li>
			<li class="services__list-item set__list-item">
				<a href="#" download>Библиотечно - информационный комплекс
				</a>
			</li>
			<li class="services__list-item set__list-item">
				<a href="#" download>Модельная библиотека №1
				</a>
			</li>
			<li class="services__list-item set__list-item">
				<a href="#" download>Модельная библиотека №3 им. В.Ф. Руднева
				</a>
			</li>
			<li class="services__list-item set__list-item">
				<a href="#" download>Городская библиотека №4
				</a>
			</li>
			<li class="services__list-item set__list-item">
				<a href="#" download>Городская библиотека №6
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Финансово-хозяйственная деятельность
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>План финансово-хозяйственной деятельности на
					2022 год и плановый период 2023 и 2024 г.
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Отчет о результатах деятельности
					муниципального учреждения за 2021 год
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Баланс государственного (муниципального)
					учреждения за 2021 год
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Муниципальные задания и отчеты
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Муниципальное задание на 2022 год
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Отчет об исполнении муниципального задания
					2021 года
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Муниципальное задание на 2021 год
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Планы работ
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>План работы МУК "Тульская библиотечная
					система" на 2022 год
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Информационные отчеты
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Информационный отчет МУК ТБС за 2021 год
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Информационный отчет МУК ТБС за 2020 год
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
	<div class="documents__item set">
		<h2 class="section-title set-title">Правила пользования
		</h2>
		<ul class="documents__list set__list">
			<li class="services__list-item set__list-item"><a href="#" download>Правила пользования библиотеками
					муниципального учреждения культуры "Тульская библиотечная система"
				</a>
			</li>
			<li class="services__list-item set__list-item"><a href="#" download>Правила пользования персональным компьютером
					и ресурсами интернет в библиотеках МУК "Тульская библиотечная система" для
					пользователей библиотек
				</a>
			</li>
		</ul>
	</div>
	<!-- /.documents__item -->
</section>