<!-- ABOUT START -->
<section class="about">
	<div class="about__wrapper">
		<div class="about__description">
			<h2 class="section-title about-title">О библиотеке</h2>
			<h2 class="section-title about-title hidden">О библиотеке</h2>

			<div class="about-text border-elem">
				<p>
					Библиотечно-информационный комплекс — это открытая среда для интересного чтения, неформального общения и
					интеллектуального досуга, центр общественной жизни, ориентирующийся на личность и её меняющиеся потребности.
				</p>
				<p>
					Библиотечно-информационный комплекс был основан в 2012 году на базе слияния двух библиотек: Центральной
					городской детской библиотеки и филиала № 2.
				</p>
				<p>Основные направления работы библиотеки:
					<br>— информационная поддержка туляков,
					<br>— обеспечение условий для культурного, общеобразовательного, творческого развития пользователей,
					<br>— патриотическое, нравственно-этическое воспитание,
					<br>— а также экологическое образование и просвещение подрастающего поколения.
				</p>

			</div>
			<div class="about__info">
				<div class="info__item time">
					<img src="./img/svg/clock.svg" alt="Иконка: Часы">
					<span>по будням: 11:00–19:00, в субботу: 11:00–18:00, в воскресенье: выходной</span>
				</div>
				<div class="info__item user">
					<img src="./img/svg/user.svg" alt="Иконка: Человек">
					<span>Сорокина Наталья Валерьевна</span>
				</div>
				<div class="info__item mail">
					<img src="./img/svg/mail.svg" alt="Иконка: Почта">
					<a href="mailto:tbs_bik@tularegion.org">tbs_sgb@tularegion.org</a>
				</div>
				<div class="info__item phone">
					<img src="./img/svg/phone.svg" alt="Иконка: Телефон">
					<a href="tel:+74872554947">+7 (4872) 55-49-47</a>
				</div>
				<div class="info__item place">
					<img src="./img/svg/gps.svg" alt="Иконка: GPS">
					<span>г. Тула, Красноармейский пр., д. 1</span>
				</div>
			</div>
		</div>
		<div class="about__image">
			<img src="./img/complex/about.png" alt="Фото: Здание">
		</div>
	</div>
</section>
<!-- ABOUT END -->