<!-- MAP START -->
<section class="map">
	<div class="container">
		<div class="map__wrapper">
			<div id="complex-map" class="map-window"></div>
			<div class="map__info">
				<h5 class="map__info-title">Расположение</h5>
				<span class="map__info-name">
					Библиотечно-информационный комплекс
				</span>
				<div class="info__item place">
					<img src="./img/svg/gps.svg" alt="Иконка: GPS">
					<span>
						Тула, Красноармейский пр., д. 1
					</span>
				</div>
				<div class="info__item phone">
					<img src="./img/svg/phone.svg" alt="Иконка: Телефон">
					<a href="tel:+74872554947">+7 (4872) 55-49-47</a>
				</div>
				<div class="info__item mail">
					<img src="./img/svg/mail.svg" alt="Иконка: Почта">
					<a href="mailto:tbs_bik@tularegion.org">tbs_bik@tularegion.org</a>
				</div>
				<div class="info__item social">
					<span>Присоединяйтесь к нам:</span>
					<a href="https://vk.com" target="_blank"><img src="./img/vk.png" alt="Иконка: VK"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- MAP END -->