<!-- MOBILE-MENU START -->
<nav class="mobile__menu">
	<div class="container">
		<ul class="mobile__nav-list">
			<li class="mobile__list-item sublist">
				<div class="mobile__list-btn">
					<a href="about.html">О системе</a>
					<img src="./img/svg/arrow.svg" alt="Иконка: Стрелка">
				</div>
				<ul class="mobile__sublist">
					<li class="mobile__sublist-item">
						<a href="libraries.html">Наши библиотеки</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="administration.html">Администрация</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="media.html">СМИ о нас</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="documents.html">Документы</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="projects.html">Проекты</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="partners.html">Коллегам</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Волонтёры культуры</a>
					</li>
				</ul>
			</li>
			<li class="mobile__list-item sublist">
				<div class="mobile__list-btn">
					<a href="info-source.html">Информационные ресурсы</a>
					<img src="./img/svg/arrow.svg" alt="Иконка: Стрелка">
				</div>
				<ul class="mobile__sublist">
					<li class="mobile__sublist-item">
						<a href="libraries.html">Наши библиотеки</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="administration.html">Администрация</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="media.html">СМИ о нас</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="documents.html">Документы</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="projects.html">Проекты</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="partners.html">Коллегам</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Волонтёры культуры</a>
					</li>
				</ul>
			</li>
			<li class="mobile__list-item sublist">
				<div class="mobile__list-btn">
					<a href="/">Онлайн-сервисы</a>
					<img src="./img/svg/arrow.svg" alt="Иконка: Стрелка">
				</div>
				<ul class="mobile__sublist">
					<li class="mobile__sublist-item">
						<a href="/">Наши библиотеки</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Администрация</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">СМИ о нас</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Документы</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Проекты</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Коллегам</a>
					</li>
					<li class="mobile__sublist-item">
						<a href="/">Волонтёры культуры</a>
					</li>
				</ul>
			</li>
			<li class="mobile__list-item"><a href="services.html">Услуги</a></li>
			<li class="mobile__list-item"><a href="affiche.html">Афиша</a></li>
			<li class="mobile__list-item"><a href="news.html">Новости</a></li>
			<li class="mobile__list-item"><a href="media.html">Независимая оценка</a></li>
		</ul>
	</div>
	<!-- /.container -->
</nav>
<!-- MOBILE-MENU END -->