.header
	&__top
		padding: 30px 0
		display: flex
		justify-content: space-between
		align-items: center
	&-logo
		display: inline-block
		width: 201px
		height: 65px
	&__search
		position: relative
		width: 438px
		&-input
			padding-right: 50px
			width: 100%
		&-btn
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 37px
			background: $blue
			border-radius: 0px 6px 6px 0px
			background-image: url('../img/svg/search.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: 21px 20px
	&__nav
		padding: 16px 0
		background-color: $red
		&-list
			display: flex
			justify-content: space-between
			max-width: 1130px
			margin: 0 auto
			padding: 0 20px
			list-style-type: none
		&-item
			font-weight: 600
			font-size: 16px
			line-height: 20px
			color: #FFFFFF
			&:hover
				& .header__dropdown-list
					// display: block
					max-height: 100vh
					transition: all ease-in 0.3s

	&__mobile
		display: none
		padding: 16px 0px
		background-color: $gray
	&-mobile
		&__btn
			display: inline-flex
			width: 37px
			height: 37px
			background-color: $blue
			border-radius: 4px
			background-position: center
			background-repeat: no-repeat
			&:not(:last-child)
				margin-right: 10px
	&__buttons
		display: none
	&-search__btn
		background-image: url(../img/svg/search.svg)
		background-size: 21px 20px
	&-question__btn
		background-image: url(../img/svg/quest.svg)
	&-menu__btn
		background-color: $red
		background-image: url(../img/svg/burger.svg)
		&.active
			background-image: url(../img/svg/cross.svg)

.header
	&__dropdown
		&-list
			position: absolute
			// display: none
			width: auto
			min-width: max-content
			max-height: 0
			padding: 0 24px
			text-align: left
			background: rgba(192, 0, 0, 0.9)
			z-index: 1000
			overflow: hidden
			transition: all ease 0.1s
		&-item
			font-weight: 500
			font-size: 14px
			line-height: 17px
			color: #FFFFFF
			&:not(:last-child)
				margin-bottom: 10px
			&:first-child
				margin-top: 32px
			&:last-child
				margin-bottom: 24px
