.map
	padding: 42px 0px
	&__wrapper
		position: relative
		width: 100%
		height: 388px
	&__info
		position: absolute
		bottom: 26px
		padding: 40px 46px
		background: rgba(255, 255, 255, 0.9)
		border-radius: 10px
		z-index: 100
	&-window
		height: 100%
		width: 100%
	&__info
		&-title
			margin-bottom: 23px
			font-weight: 500
			font-size: 16px
			line-height: 130%
		&-item
			display: flex
			align-items: center
		& span
			font-weight: 400
			font-size: 14px
			line-height: 17px
		&-place
			margin-top: 24px
			margin-bottom: 14px
			& img
				width: 12px
				height: 17px
				margin-right: 10px
		&-phone
			margin-bottom: 12px
			& img
				width: 15px
				height: 15px
				margin-right: 8px
		&-mail
			& img
				width: 16px
				height: 13px
				margin-right: 8px
