.projects
	&__tabs
		padding-bottom: 42px
		&-list
			margin-top: 0
			margin-bottom: 34px
			display: flex
			padding-left: 0
			list-style-type: none
		&-item
			position: relative
			font-weight: 500
			font-size: 14px
			line-height: 17px
			color: $gray3
			&.active a
				text-decoration: underline
			&:not(:last-child)
				padding-right: 6px
				&::after
					content: ""
					position: absolute
					right: 0
					width: 2px
					top: 10%
					bottom: 10%
					background: $gray3
			&:not(:first-child)
				padding-left: 6px

.projects
	&__slide
		&.active &-title
			text-decoration: underline
		&-title
			text-align: center
			font-weight: 500
			font-size: 16px
			line-height: 20px
		&-image
			margin-bottom: 14px
			height: 284px
	&__slider
		&-dots
			margin-top: 24px

.projects
	&__about
		padding: 42px 0 84px
		&-wrapper
			display: flex
			justify-content: space-between
		&-description
			margin-left: 30px
			width: 49.9%
		&-title
			margin-bottom: 34px
			font-size: 26px
			line-height: 130%
			&.hidden
				display: none
		&-subtitle
			margin-bottom: 24px
			font-weight: 500
			font-size: 16px
			line-height: 20px
		&-text
			margin-bottom: 34px
			padding-left: 20px
			font-weight: 400
			font-size: 14px
			line-height: 150%
			& p:not(:last-child)
				margin-bottom: 7px
			&:before
				top: 3%
				bottom: 3%
		&-image
			width: 48%
			height: 432px
	&__info
		&-social
			margin-top: 24px
			& span
				margin-right: 10px
			& img
				width: 31px
				height: 31px
	&__map
		&-info
			right: 30px
