<!-- AFFICHE__TABS START -->
<section class="affiche__tabs">
	<div class="container">
		<h1 class="affiche title">Афиша</h1>
		<div class="affiche__tabs-wrapper">
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/puppies.png" alt="Фото: Куклы">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Выставка «Путешествие в мир моды с яснополянскими комодными куклами»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 11:00–19:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>ЦГБ им. Л.Н. Толстого</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/man.png" alt="Фото: Мужчиина">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Открытие выставки тульского фотографа Алексея Фокина «Будни»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 11:00–19:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>ЦГБ им. Л.Н. Толстого</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/woman.png" alt="Фото: Женщина">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Выставка «Белорусская эстрада. Ностальгический дивертисмент»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>12 марта, 11:00–19:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Городская библиотека № 6</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/children.png" alt="Фото: Дети">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Урок-практикум «А какие у вас книжные закладки?!»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>18 марта, 11:00–19:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Библиотечно-информационный комплекс</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- AFFICHE__TABS END -->