<!-- AFFICHE__CONTENT START -->
<section class="affiche__content">
	<div class="container">
		<div class="affiche__content-wrapper">
			<h2 class="affiche__content-title hidden">Выставка «Путешествие в мир моды
				с яснополянскими комодными куклами»</h2>
			<div class="affiche__content-image">
				<img src="./img/affiche/puppiesBig.png" alt="Фото: Куклы">
				<div class="affiche__content-age">12+</div>
			</div>
			<div class="affiche__content-description">
				<h2 class="affiche__content-title">Выставка «Путешествие в мир моды
					с яснополянскими комодными куклами»</h2>
				<p class="affiche__content-text">
					На предстоящей выставке «Путешествие в мир моды с яснополянскими куклами», посетители познакомятся с комодными
					куклами
					созданными мастером-керамистом Юлией Лыковой, узнают как они создаются и в чём заключается их уникальность.
				</p>
				<div class="affiche__content-info">
					<div class="affiche__content-date affiche__info-item">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта</span>
					</div>
					<div class="affiche__content-time affiche__info-item">
						<img src="./img/svg/clock.svg" alt="Иконка: Часы">
						<span>по будням: 11:00–19:00, в воскресенье: 11:00–18:00, в понедельник: выходной</span>
					</div>
					<div class="affiche__content-place affiche__info-item">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>ЦГБ им. Л.Н. Толстого, г. Тула, ул. Болдина 149/10</span>
					</div>
					<div class="affiche__content-price affiche__info-item">
						<img src="./img/svg/ticket.svg" alt="Иконка: GPS">
						<span>вход бесплатный</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>