<!-- AFFICHE__TODAY START -->
<section class="affiche__today">
	<div class="container">
		<h2 class="affiche__today-title">Мероприятия в этот день:</h2>
		<div class="tabs__wrapper">
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/man.png" alt="Фото: Мужчиина">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Открытие выставки тульского фотографа Алексея Фокина «Будни»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 11:00–19:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Модельная библиотека № 8</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/lecture.png" alt="Фото: Лекция">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Лекция «Светлый мир народной культуры!»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 14:00–15:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Городская библиотека № 20
							им. А.С. Пушкина</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/eggs.png" alt="Фото: Корзина с пасхальными яйцами">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Мастер-класс «Декупаж пасхальных яиц»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 14:00–15:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Городская библиотека № 6</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
			<div class="affiche__tabs-item tabs__card">
				<div class="tabs__card-image">
					<img src="./img/affiche/author.png" alt="Фото: Чтец">
				</div>
				<div class="tabs__card-info">
					<h4 class="tabs__card-title">
						Встреча «Знакомый незнакомец»
					</h4>
					<div class="tabs__card-date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 16:00–17:00</span>
					</div>
					<div class="tabs__card-place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Модельная библиотека № 8</span>
					</div>
				</div>
			</div>
			<!-- /.affiche__tabs-item -->
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- AFFICHE__TODAY END -->