<!--EVENTS START-->
<section class="events">
	<div class="container">
		<div class="events__wrapper">
			<div class="events__slider swiper">
				<div class="events__slider-wrapper swiper-wrapper">
					<div class="events__slide swiper-slide">
						<img class="events__slide-image" src="/img/events/slide.png" alt="">
						<p class="events__slide-description">Тульская библиотечная система присоединяется к участию в акции «Дарите
							книги с
							любовью — 2022»</p>
					</div>
					<div class="events__slide swiper-slide">
						<img class="events__slide-image" src="/img/events/slide.png" alt="">
						<p class="events__slide-description">Тульская библиотечная система присоединяется к участию в акции «Дарите
							книги с
							любовью — 2022»</p>
					</div>
					<div class="events__slide swiper-slide">
						<img class="events__slide-image" src="/img/events/slide.png" alt="">
						<p class="events__slide-description">Тульская библиотечная система присоединяется к участию в акции «Дарите
							книги с
							любовью — 2022»</p>
					</div>
				</div>
				<div class="slider-prev events__slider-prev"></div>
				<div class="slider-next events__slider-next"></div>
				<div class="slider-dots events__slider-dots"></div>
			</div>
			<div class="events__schedule">
				<h2 class="events__schedule-title">Афиша</h2>
				<div class="events__schedule-item">
					<div class="events__schedule-date">
						<div class="events__schedule-month">Февраль
						</div>
						<div class="events__schedule-day">23</div>
					</div>
					<div class="events__schedule-info">
						<h4 class="events__info-title">Вводное занятие «Da-Винчи»</h4>
						<div class="events__info-start">
							<span class="events__info-date">23 февраля</span> &nbsp|&nbsp
							<span class="events__info-time">10:30–12:00</span>
						</div>
						<span class="events__info-description">Офлайн мероприятие</span>
					</div>
				</div>
				<div class="events__schedule-item">
					<div class="events__schedule-date">
						<div class="events__schedule-month">Февраль
						</div>
						<div class="events__schedule-day">24</div>
					</div>
					<div class="events__schedule-info">
						<h4 class="events__info-title">Мастер-класс «Ручки-ручки»</h4>
						<div class="events__info-start">
							<span class="events__info-date">24 февраля</span> &nbsp|&nbsp
							<span class="events__info-time">круглосуточно</span>
						</div>
						<span class="events__info-description">Оyлайн мероприятие</span>
					</div>
				</div>
				<div class="events__schedule-item">
					<div class="events__schedule-date">
						<div class="events__schedule-month">Февраль
						</div>
						<div class="events__schedule-day">24</div>
					</div>
					<div class="events__schedule-info">
						<h4 class="events__info-title">Презентация книги</h4>
						<div class="events__info-start">
							<span class="events__info-date">24 февраля</span> &nbsp|&nbsp
							<span class="events__info-time">10:00–12:00</span>
						</div>
						<span class="events__info-description">Офлайн мероприятие</span>
					</div>
				</div>
				<div class="events__schedule-item">
					<div class="events__schedule-date">
						<div class="events__schedule-month">Февраль
						</div>
						<div class="events__schedule-day">23</div>
					</div>
					<div class="events__schedule-info">
						<h4 class="events__info-title">Познавательное размышление
							«Свет разумения книжного»</h4>
						<div class="events__info-start">
							<span class="events__info-date">02 марта</span> &nbsp|&nbsp
							<span class="events__info-time">13:00–14:00</span>
						</div>
						<span class="events__info-description">Офлайн мероприятие</span>
					</div>
				</div>
				<a class="events__schedule-all" href="/">
					<span>Посмотреть полностью</span>
					<img src="/img/svg/next-arrow.svg" alt="Иконка: Стрелка">
				</a>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!--EVENTS END-->