<!-- NOVELTY START -->
<section class="novelty">
	<div class="container">
		<div class="novelty__wrapper">
			<h2 class="novelty-title">Новые поступления</h2>
			<div class="novelty__slider swiper">
				<div class="novelty__slider-wrapper swiper-wrapper">
					<div class="novelty__slide swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-1.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Дарители. <br>Земля забытых</span>
							<span class="novelty__slide-author">Екатерина Соболь</span>
						</div>
					</div>
					<div class="novelty__slide swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-2.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Братство Коннора</span>
							<span class="novelty__slide-author">Джиллиан</span>
						</div>
					</div>
					<div class="novelty__slide swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-3.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Гарри Поттер <br>
								и Принц-полукровка</span>
							<span class="novelty__slide-author">Джоан Кэтлин Роулинг</span>
						</div>
					</div>
					<div class="novelty__slide swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-4.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Элизиум. <br>
								Алекс и монеты</span>
							<span class="novelty__slide-author">Александр Андерсон</span>
						</div>
					</div>
					<div class="novelty__slide swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-5.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Дракула</span>
							<span class="novelty__slide-author">Брэм Стокер</span>
						</div>
					</div>
					<div class="novelty__slide  swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-6.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Элементарная магия</span>
							<span class="novelty__slide-author">Лина Алфеева</span>
						</div>
					</div>
					<div class="novelty__slide  swiper-slide">
						<img class="novelty__slide-image" src="img/novelty/book-7.png" alt="Изображение: Книга">
						<div class="novelty__slide-info">
							<span class="novelty__slide-name">Адептка</span>
							<span class="novelty__slide-author">Елена Звёздная</span>
						</div>
					</div>
				</div>
				<div class="novelty__slider-dots slider-dots"></div>
				<div class="novelty__slider-prev slider-prev"></div>
				<div class="novelty__slider-next slider-next"></div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- NOVELTY END -->