<!-- PARTNERS START -->
<div class="partners">
	<div class="container">
		<div class="partners__slider swiper">
			<div class="swiper-wrapper">
				<div class="partners__slide swiper-slide">
					<div class="partners__slide-image">
						<img src="./img/partners/pto.png" alt="Изображение: Партнер">
					</div>
					<p class="partners__slide-name">Правительство <br>Тульской Облсати</p>
				</div>
				<div class="partners__slide swiper-slide">
					<div class="partners__slide-image">
						<img src="./img/partners/president.png" alt="Изображение: Партнер">
					</div>
					<p class="partners__slide-name">Президент <br>Российской Федерации</p>
				</div>
				<div class="partners__slide swiper-slide">
					<div class="partners__slide-image">
						<img src="./img/partners/neb.png" alt="Изображение: Партнер">
					</div>
					<p class="partners__slide-name">Национальная <br>Электронная <br>Библиотека</p>
				</div>
				<div class="partners__slide swiper-slide">
					<div class="partners__slide-image">
						<img src="./img/partners/ukt.png" alt="Изображение: Партнер">
					</div>
					<p class="partners__slide-name">Управление <br>Культуры и Туризма <br>Администрации Города Тулы</p>
				</div>
			</div>
		</div>
		<div class="partners__slider-prev slider-prev"></div>
		<div class="partners__slider-next slider-next"></div>
	</div>
	<!-- /.container -->
</div>

<!-- PARTNERS END -->