<!-- /.REVIEW START -->
<section class="review">
	<div class="container">
		<h1 class="review-title title">Краеведение</h1>
		<div class="review__wrapper">
			<div class="review__items">
				<div class="review-item">Новые поступления</div>
				<div class="review-item">Новые поступления в Толстовский фонд ЦГБ
					им. Л.Н. Толстого</div>
				<div class="review-item">Дайджесты</div>
				<div class="review-item">Информационные буклеты</div>
				<div class="review-item">Электронная библиотека</div>
			</div>
			<div class="review-image"><img src="./img/review/main.png" alt="Фото: Храм"></div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.REVIEW END -->