<!-- MAP START -->
<section class="affiche__map map">
	<div class="container">
		<div class="map__wrapper">
			<div id="affiche-map" class="map-window"></div>
			<div class="map__info">
				<h5 class="map__info-title">Место проведения</h5>
				<span class="map__info-name">
					ЦГБ им. Л.Н. Толстого
				</span>
				<div class="info__item place">
					<img src="./img/svg/gps.svg" alt="Иконка: GPS">
					<span>
						г. Тула, ул. Болдина 149/10
					</span>
				</div>
				<div class="info__item phone">
					<img src="./img/svg/phone.svg" alt="Иконка: Телефон">
					<a href="tel:+74872353438">+7 (4872) 35-34-38</a>
				</div>
				<div class="info__item mail">
					<img src="./img/svg/mail.svg" alt="Иконка: Почта">
					<a href="mailto:tbs_sgb@tularegion.org">tbs_sgb@tularegion.org</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- MAP END -->