<!-- TODAY START -->
<section class="affiche__today cards">
	<div class="container">
		<h2 class="section-title cards-title">Мероприятия в этот день:</h2>
		<div class="cards__wrapper">
			<div class="cards__item">
				<div class="cards__item-image">
					<img src="./img/affiche/man.png" alt="Фото: Мужчиина">
				</div>
				<div class="cards__item-info">
					<h4 class="cards__item-title">
						<a href="/">Открытие выставки тульского фотографа Алексея Фокина «Будни»</a>
					</h4>
					<div class="info__item date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 11:00–19:00</span>
					</div>
					<div class="info__item place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Модельная библиотека № 8</span>
					</div>
				</div>
			</div>
			<!-- /.cards__item -->
			<div class="cards__item">
				<div class="cards__item-image">
					<img src="./img/affiche/lecture.png" alt="Фото: Лекция">
				</div>
				<div class="cards__item-info">
					<h4 class="cards__item-title">
						<a href="/">Лекция «Светлый мир народной культуры!»</a>
					</h4>
					<div class="info__item date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 14:00–15:00</span>
					</div>
					<div class="info__item place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Городская библиотека № 20
							им. А.С. Пушкина</span>
					</div>
				</div>
			</div>
			<!-- /.cards__item -->
			<div class="cards__item">
				<div class="cards__item-image">
					<img src="./img/affiche/eggs.png" alt="Фото: Корзина с пасхальными яйцами">
				</div>
				<div class="cards__item-info">
					<h4 class="cards__item-title">
						<a href="/">Мастер-класс «Декупаж пасхальных яиц»</a>
					</h4>
					<div class="info__item date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 14:00–15:00</span>
					</div>
					<div class="info__item place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Городская библиотека № 6</span>
					</div>
				</div>
			</div>
			<!-- /.cards__item -->
			<div class="cards__item">
				<div class="cards__item-image">
					<img src="./img/affiche/author.png" alt="Фото: Чтец">
				</div>
				<div class="cards__item-info">
					<h4 class="cards__item-title">
						<a href="/">Встреча «Знакомый незнакомец»</a>
					</h4>
					<div class="info__item date">
						<img src="./img/svg/calendar.svg" alt="Иконка: Календарь">
						<span>11 марта, 16:00–17:00</span>
					</div>
					<div class="info__item place">
						<img src="./img/svg/gps.svg" alt="Иконка: GPS">
						<span>Модельная библиотека № 8</span>
					</div>
				</div>
			</div>
			<!-- /.cards__item -->
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- TODAY END -->