<!-- MAIN SET START -->
<div class="bibliography__set set">
	<div class="container">
		<h2 class="section-title set-title">Основные темы 2022 года</h2>
		<ul class="set__list">
			<li class="set__list-item">2022 год – Год народного искусства и нематериального культурного наследия народов
				России (Указ Президента Российской
				Федерации от 30.12.2021 № 745)
			</li>
			<li class="set__list-item">2022 год – Празднование 350-летия со дня рождения российского императора Петра I (Указ
				Президента Российской Федерации
				от 25.10.2018 № 609)
			</li>
			<li class="set__list-item">2018 – 2027 – Десятилетие детства в Российской Федерации (Указ Президента Российской
				Федерации от 29.05.2017 № 240)
			</li>
			<li class="set__list-item">2022 год – 90-летие Роберта Рождественского</li>
			<li class="set__list-item">2022 год – 130-летие Марины Ивановны Цветаевой, отечественной поэтессы Серебряного века
			</li>
			<li class="set__list-item">2022 год – 165-летие ученого и философа Константина Эдуардовича Циолковского
			</li>
		</ul>
	</div>
	<!-- /.container -->
</div>
<!-- MAIN SET END -->