<!-- HEADER-NAV END -->
<nav class="header__nav">
	<ul class="header__nav-list">
		<li class="header__nav-item"><a href="index.html">Главная</a>
		</li>
		<li class="header__nav-item"><span>О системе</span>
			<ul class="header__dropdown-list">
				<li class="header__dropdown-item">
					<a href="libraries.html">Наши библиотеки</a>
				</li>
				<li class="header__dropdown-item">
					<a href="administration.html">Администрация</a>
				</li>
				<li class="header__dropdown-item">
					<a href="media.html">СМИ о нас</a>
				</li>
				<li class="header__dropdown-item">
					<a href="documents.html">Документы</a>
				</li>
				<li class="header__dropdown-item">
					<a href="projects.html">Проекты</a>
				</li>
				<li class="header__dropdown-item">
					<a href="for-partners.html">Партнерам</a>
				</li>
				<li class="header__dropdown-item">
					<a href="volontiers.html">Волонтёры культуры</a>
				</li>
			</ul>
		</li>
		<li class="header__nav-item"><span>Информационные ресурсы</span>
			<ul class="header__dropdown-list">
				<li class="header__dropdown-item">
					<a href="history.html">Краеведение</a>
				</li>
				<li class="header__dropdown-item">
					<a href="complex.html">Библиотечно-информационный комплекс</a>
				</li>
				<li class="header__dropdown-item">
					<a href="bibliography.html">Библиография</a>
				</li>
			</ul>
		</li>
		<li class="header__nav-item"><span>Онлайн-сервисы</span>
			<ul class="header__dropdown-list">
				<li class="header__dropdown-item">
					<a href="order.html">Заказать литературу</a>
				</li>
				<li class="header__dropdown-item">
					<a href="create.html">Создать событие</a>
				</li>
				<li class="header__dropdown-item">
					<a href="available.html">Доступная среда</a>
				</li>
				<li class="header__dropdown-item">
					<a href="newsroom.html">Периодика</a>
				</li>
			</ul>
		</li>
		<li class="header__nav-item"><a href="services.html">Услуги</a>
		</li>
		<li class="header__nav-item"><a href="affiche.html">Афиша</a>
		</li>
		<li class="header__nav-item"><a href="news.html">Новости</a>
		</li>
		<li class="header__nav-item"><a href="media.html">Независимая оценка</a>
		</li>
	</ul>
</nav>
<!-- HEADER-NAV START -->