<!-- HEADER-TOP START -->
<div class="header__top">
	<a href="index.html" class="header-logo">
		<img src="./img/logo.png" alt="Logo: Тульская Библиотечная Система"></a>
	<div class="header__search">
		<form action="#" class="header__search">
			<input type="text" class="header__search-input" placeholder="Введите запрос для поиска">
			<button type="submit" class="header__search-btn">
			</button>
		</form>
	</div>
	<a href="question.html" class="header-btn link-btn">Задать вопрос</a>
	<div class="header__buttons">
		<button class="header-search__btn header-mobile__btn"></button>
		<a href="question.html" class="header-question__btn header-mobile__btn"></a>
		<button class="header-menu__btn header-mobile__btn"></button>
	</div>
</div>
<!-- HEADER-TOP END -->