<!-- CARDS START -->
<section class="news__cards cards">
	<div class="cards__wrapper">
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/books.png" alt="Фото: Книги">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Веселый праздник Масленица широко и весело отметили в модельной библиотеке №3 им. В.Ф.
						Руднева</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/children.png" alt="Фото: Дети">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Заслуженный художник РФ Иван Васильевич Щербино познакомил читателей модельной библиотеки
						№3 им.
						В.Ф. Руднева со своим
						творчеством.</a>
				</h4>
				<span class="cards__item-date">09.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/show.png" alt="Фото: Представление">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Замечательный весенний праздник, день чествования прекрасной половины человечества прошел
						в
						модельной библиотеке № 8</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/mama.png" alt="Фото: Люди">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">В Федоровском библиотечном пункте читатели познакомились с историей возникновения
						праздника 8
						марта.
					</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/books.png" alt="Фото: Книги">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Веселый праздник Масленица широко и весело отметили в модельной библиотеке №3 им. В.Ф.
						Руднева</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/children.png" alt="Фото: Дети">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Заслуженный художник РФ Иван Васильевич Щербино познакомил читателей модельной библиотеки
						№3 им.
						В.Ф. Руднева со своим
						творчеством.</a>
				</h4>
				<span class="cards__item-date">09.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/show.png" alt="Фото: Представление">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Замечательный весенний праздник, день чествования прекрасной половины человечества прошел
						в
						модельной библиотеке № 8</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/mama.png" alt="Фото: Люди">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">В Федоровском библиотечном пункте читатели познакомились с историей возникновения
						праздника 8
						марта.
					</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/books.png" alt="Фото: Книги">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Веселый праздник Масленица широко и весело отметили в модельной библиотеке №3 им. В.Ф.
						Руднева</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/children.png" alt="Фото: Дети">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Заслуженный художник РФ Иван Васильевич Щербино познакомил читателей модельной библиотеки
						№3 им.
						В.Ф. Руднева со своим
						творчеством.</a>
				</h4>
				<span class="cards__item-date">09.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/show.png" alt="Фото: Представление">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">Замечательный весенний праздник, день чествования прекрасной половины человечества прошел
						в
						модельной библиотеке № 8</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
		<div class="cards__item">
			<div class="cards__item-image">
				<img src="./img/news/mama.png" alt="Фото: Люди">
			</div>
			<div class="cards__item-info">
				<h4 class="cards__item-title">
					<a href="post.html">В Федоровском библиотечном пункте читатели познакомились с историей возникновения
						праздника 8
						марта.
					</a>
				</h4>
				<span class="cards__item-date">10.03.2022</span>
			</div>
		</div>
		<!-- /.cards__item -->
	</div>
	<div class="news__pagination">
		<a href="news.html" class="news__pagination-prev">Предыдущая</a>
		<ul class="news__pagination-list">
			<li class="news__pagination-item"><a href="news.html">1</a></li>
			<li class="news__pagination-item"><a href="news.html">2</a></li>
			<li class="news__pagination-item"><a href="news.html">3</a></li>
			<li class="news__pagination-dots">...</li>
			<li class="news__pagination-item"><a href="news.html">10</a></li>
		</ul>
		<a href="news.html" class="news__pagination-next">Следующая</a>
	</div>
</section>
<!-- CARDS END -->