<section class="newsroom__tabs">
	<h2 class="visuallyhidden">Списки периодических изданий</h2>
	<div class="newsroom__tabs-text border-elem">
		<p>Библиотеки МУК ТБС выписывают более 120 наименований журналов и более 25 наименований газет.</p>
		<p>Здесь вы найдете списки периодических изданий, которые можете почитать в наших библиотеках.
		</p>
		<p>Приходите! Вас ждет свежая периодика!
		</p>
	</div>
	<div class="newsroom__tabs-wrapper period__tabs">
		<div class="newsroom__tabs-year period__tabs-year">
			<button class="tabs__year-btn">2022</button>
			<button class="tabs__year-btn">2021</button>
		</div>
		<div class="newsroom__tabs-month period__tabs-month">
			<button class="tabs__month-btn">Первое полугодие (Тула)</button>
			<button class="tabs__month-btn">Первое полугодие (Ленинский)</button>
		</div>
	</div>
	<div class="newsroom__tabs-content border-elem">
		<p>Фонд сериальных изданий</p>
	</div>
</section>