<!-- /.EXPOSITION START -->
<section class="exposition">
	<div class="container">
		<h2 class="exposition-title">Виртуальные выставки</h2>
		<div class="exposition__slider swiper">
			<div class="swiper-wrapper">
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/library.png" alt="Фото: Библиотека">
						</div>
						<h4 class="exposition__slide-name">«Библиотека в современном мире»</h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/center.png" alt="Фото: Храм">
						</div>
						<h4 class="exposition__slide-name">«Сердце города»</h4>
					</div>
				</div>
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/books.png" alt="Фото: Книги">
						</div>
						<h4 class="exposition__slide-name">«100 великих книг»</h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/woman.png" alt="Фото: Девушка">
						</div>
						<h4 class="exposition__slide-name">«Быть художником — верить в жизнь»</h4>
					</div>
				</div>
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/man.png" alt="Фото: Мужчина">
						</div>
						<h4 class="exposition__slide-name">«От „Записок врача“ до „Илиады“»</h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/hall.png" alt="Фото: Театр">
						</div>
						<h4 class="exposition__slide-name">«Тульские театры»</h4>
					</div>
				</div>
			</div>
			<div class="exposition__slider-dots slider-dots"></div>
		</div>

	</div>
	<!-- /.container -->
</section>
<!-- /.EXPOSITION END -->