<!-- ADMIN MAIN START-->
<section class="admin__main">
	<div class="container">
		<div class="admin__main-wrapper">
			<span class="admin-fullname">«Муниципальное учреждение культуры „тульская библиотечная система“»</span>
			<div class="admin__name">
				<span class="admin-name">Сокращенное название:</span>
				<span class="admin-text">МУК ТБС
				</span>
			</div>
			<div class="admin__address">
				<span class="admin-name">Юридический адрес:</span>
				<span class="admin-text">г. Тула, Красноармейский пр., д. 1</span>
			</div>

			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:55-42-66">55-42-66</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- ADMIN MAIN END-->