<!-- ADMIN TEAM START-->
<section class="admin__team">
	<div class="admin__team-wrapper">
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Директор</span>
			<span class="admin__team-name">Калинина Ольга Анатольевна</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:33-80-78">33-80-78
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Заместитель директора</span>
			<span class="admin__team-name">Алфёрова Елена Васильевна</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:33-80-79">33-80-79
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Отдел кадров</span>
			<span class="admin__team-name">Игнатюк Татьяна Ивановна</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:52-42-66">52-42-66
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Методический отдел</span>
			<span class="admin__team-name">Калабина Тамара Николаевна</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:35-53-67">35-53-67 </a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Отдел бюджета, планирования <br>и финансовых операций</span>
			<span class="admin__team-name">Черникова Татьяна Леонидовна
			</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:55-49-97">55-49-97
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">отдел административно- хозяйственной части</span>
			<span class="admin__team-name">Лубянский Олег Иванович
			</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:55-47-69">55-47-69
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
		<div class="admin__team-item border-elem">
			<span class="admin__team-role">Отдел информатизации</span>
			<span class="admin__team-name">Макеев Роман Вадимович
			</span>
			<div class="admin__phone">
				<span class="admin-name">Телефон/факс:</span>
				<a class="admin-text admin-link" href="tel:33-80-77">33-80-77
				</a>
			</div>
			<div class="admin__mail">
				<span class="admin-name">E-mail:</span>
				<a class="admin-text admin-link" href="mailto:muk_tbs@tularegion.org">muk_tbs@tularegion.org</a>
			</div>
		</div>
		<!-- /.admin__team-item -->
	</div>
</section>
<!--ADMIN TEAM END-->