<!-- /.EXPOSITION START -->
<section class="exposition">
	<div class="container">
		<h2 class="section-title exposition-title">Виртуальные выставки</h2>
		<div class="exposition__slider swiper">
			<div class="swiper-wrapper">
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/library.png" alt="Фото: Библиотека">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«Библиотека в современном мире»</a></h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/center.png" alt="Фото: Храм">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«Сердце города»</a></h4>
					</div>
				</div>
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/books.png" alt="Фото: Книги">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«100 великих книг»</a></h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/woman.png" alt="Фото: Девушка">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«Быть художником — верить в жизнь»</a></h4>
					</div>
				</div>
				<div class="exposition__slide swiper-slide">
					<div class="exposition__slide-top exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/man.png" alt="Фото: Мужчина">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«От „Записок врача“ до „Илиады“»</a></h4>
					</div>
					<div class="exposition__slide-bottom exposition__slide-item">
						<div class="exposition__slide-image">
							<img src="./img/exposit/hall.png" alt="Фото: Театр">
						</div>
						<h4 class="exposition__slide-name"><a href="/">«Тульские театры»</a></h4>
					</div>
				</div>
			</div>
			<div class="exposition__slider-dots slider-dots"></div>
		</div>

	</div>
	<!-- /.container -->
</section>
<!-- /.EXPOSITION END -->