<!-- TABS START -->
<section class="projects__tabs">
	<div class="container">
		<div class="projects__tabs-wrapper">
			<ul class="projects__tabs-list">
				<li class="projects__tabs-item">
					<a href="/">Программы</a>
				</li>
				<li class="projects__tabs-item active">
					<a href="/">Проекты</a>
				</li>
				<li class="projects__tabs-item">
					<a href="/">Акции</a>
				</li>
			</ul>
			<div class="projects__slider exposition__slider swiper">
				<div class="projects_slider-wrapper swiper-wrapper">
					<div class="projects__slide swiper-slide active">
						<img class="projects__slide-image" src="./img/projects/lev.png" alt="Изображение: Лев Толстой">
						<h4 class="projects__slide-title">«Толстой всегда современник»</h4>
					</div>
					<div class="projects__slide swiper-slide">
						<img class="projects__slide-image" src="./img/projects/tula.png" alt="Изображение: Тула">
						<h4 class="projects__slide-title">«Мы на Тульской земле живём»</h4>
					</div>
					<div class="projects__slide swiper-slide">
						<img class="projects__slide-image" src="./img/projects/mountain.png" alt="Изображение: Косая Гора">
						<h4 class="projects__slide-title">«Косая Гора из века прошлого в настоящее»</h4>
					</div>
				</div>
				<div class="projects__slider-dots exposition__slider-dots slider-dots"></div>
			</div>
			<!-- /.projects__slider -->
		</div>
		<!-- /.container -->
</section>
<!-- SLIDER END -->