<section class="partners__section">
	<div class="partners-text border-elem text-header">
		<p>
			Библиотеки МУК ТБС сотрудничают с культурными и общественными организациями города и области, с депутатским
			корпусом
			областной и городской Думы, с тульским региональным отделением партии "Единая Россия", с избирательными
			комиссиями
			Тулы
			и Тульской области.
		</p>
		<p>
			Плодотворно работают с коллегами из публичных библиотек города-побратима Могилева и из Москвы - с
			Государственным
			учреждением культуры г. Москвы "Централизованная библиотечная система № 1 Южного административного округа".
		</p>
		<p>
			Давние добрые друзья муниципальных библиотек - ФГУК "Государственный мемориальный и природный заповедник
			"Музей-усадьба
			Л.Н. Толстого "Ясная Поляна", ГУК Тульской области "Объединение "Тульский областной историко-архитектурный и
			литературный музей", ГУП Тульской области "Киновидеофонд", Валеологический центр г.Тулы, ГУК Тульской области
			"Тульский
			областной экзотариум", МУК "Тульский камерный оркестр", Тульская епархия, Тульская духовная семинария и многие
			другие.
		</p>
		<p>Здесь вы найдете постоянно пополняющийся список друзей и спонсоров библиотек.</p>
	</div>
	<div class="partners__item set">
		<h2 class="section-title set-title">Партнеры</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">Главное управление по Зареченскому территориальному округу
			</li>
			<li class="partners__list-item set__list-item">Главное управление по Привокзальному территориальному округу
			</li>
			<li class="partners__list-item set__list-item">Главное управление по Пролетарскому территориальному округу
			</li>
			<li class="partners__list-item set__list-item">Главное управление по Советскому территориальному округу
			</li>
			<li class="partners__list-item set__list-item">Главное управление по Центральному территориальному округу
			</li>
			<li class="partners__list-item set__list-item">ГУ СОН ТО "Социально-реабилитационный центр для
				несовершеннолетних Дубенского района"
			<li class="partners__list-item set__list-item">ГУ СОП ТО "Социально-реабилитационный центр для
				несовершеннолетних № 1 г. Тулы"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Библиотечные ресурсы</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">ГБУК города Москвы "Централизованная библиотечная система" ЮАО
			</li>
			<li class="partners__list-item set__list-item">ГУК ТО "Тульская областная детская библиотека"
			</li>
			<li class="partners__list-item set__list-item">ГУК ТО "Тульская областная специальная библиотека для слепых"
			</li>
			<li class="partners__list-item set__list-item">ГУК "Тульская областная универсальная научная библиотека"
			</li>
			<li class="partners__list-item set__list-item">Национальная электронная библиотека (НЭБ)
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Средства массовой информации</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">Пресс-служба администрации города Тулы
			</li>
			<li class="partners__list-item set__list-item">Редакция газеты "Слобода"
			</li>
			<li class="partners__list-item set__list-item">Редакция газеты "Тула"
			</li>
			<li class="partners__list-item set__list-item">Средства массовой информации города Тулы
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Музеи</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">ГУК ТО "Объединение "ИКХМ"
			</li>
			<li class="partners__list-item set__list-item">МКУК "Историко-художественный музей А. С. Хомякова"
			</li>
			<li class="partners__list-item set__list-item">МКУК "Музей обороны г. Тулы в Великой Отечественной войне
				1941-1945 годы"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Муниципальные образовательные учреждения</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">МБОУ МО Плавский район "Плавская средняя общеобразовательная
				школа № 1 им. дважды
				Героя Советского Союза Б. Ф. Сафонова"
			</li>
			<li class="partners__list-item set__list-item">МБОУ МО Плавский район "Плавская средняя общеобразовательная
				школа № 2"
			</li>
			<li class="partners__list-item set__list-item">МБОУ "Центр образования - гимназия № 1"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Муниципальные дошкольные учреждения</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">МБДОУ "Детский сад общеобразовательного вида п. Ленинский"
			</li>
			<li class="partners__list-item set__list-item">МБДОУ "Детский сад п. Молодежный"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Другие образовательные учреждения</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">ГОУ СПО ТО "Тульский колледж искусств им. А. С. Даргомыжского"
			</li>
			<li class="partners__list-item set__list-item">ГОУ ТО "Барсуковская школа им. А. М. Гаранина"
			</li>
			<li class="partners__list-item set__list-item">ГОУ ТО "Тульская школа для обучающихся с ограниченными
				возможностями здоровья № 4"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
	<div class="partners__item set">
		<h2 class="section-title set-title">Центры развития, культуры и досуга</h2>
		<ul class="partners__list set__list">
			<li class="partners__list-item set__list-item">Валеологический центр города Тулы
			</li>
			<li class="partners__list-item set__list-item">ГОУ ДОД ТО "Центр развития творчества детей и юношества" -
				Театр-студия "Этюд"
			</li>
			<li class="partners__list-item set__list-item">ГОУ ТО "Тульская школа для обучающихся с ограниченными
				возможностями здоровья № 4"
			</li>
			<li class="partners__list-item set__list-item">ГУЗ "Ленинская РБ"
			</li>
			<li class="partners__list-item set__list-item">МБОУ ДО "Городской центр развития и научно-технического
				творчества детей и юношества"
			</li>
			<li class="partners__list-item set__list-item">МБУ ДО "Дом детского творчества"
			</li>
		</ul>
	</div>
	<!-- /.partners__item -->
</section>