<section class="media__section">
	<h2 class="visuallyhidden">Разделы с отзывами</h2>
	<div class="media-text border-elem text-header">
		<p>
			Библиотеки МУК ТБС проводят большую работу по взаимодействию со средствами массовой информации.
		</p>
		<p>
			Представители СМИ приглашаются на тематические праздники, акции, "круглые столы", творческие встречи, премьеры
			книг.

		</p>
		<p>
			Материалы о деятельности библиотек находят отражение на страницах газет "Тула", "Тульские известия", "Тульский
			Молодой
			коммунар".
		</p>
		<p>
			Репортажи с мероприятий библиотек проходят в эфире местного телевидения по каналам "ГТРК. Тула», Первый Тульский
			телеканал, широко используется местное радиовещание.
		</p>
		<p>Здесь вы найдете список публикаций в печатных и электронных СМИ о работе наших библиотек, публикации в
			профессиональной
			печати сотрудников МУК ТБС.
		</p>
	</div>
	<div class="media__tabs period__tabs">
		<div class="media__tabs-year period__tabs-year">
			<button class="tabs__year-btn">2022</button>
			<button class="tabs__year-btn">2021</button>
			<button class="tabs__year-btn">2020</button>
			<button class="tabs__year-btn">2019</button>
			<button class="tabs__year-btn">2018</button>
			<button class="tabs__year-btn">2017</button>
			<button class="tabs__year-btn">2016</button>
			<button class="tabs__year-btn">2015</button>
			<button class="tabs__year-btn">2014</button>
			<button class="tabs__year-btn">2013</button>
		</div>
		<div class="media__tabs-month period__tabs-month">
			<button class="tabs__month-btn">Февраль</button>
			<button class="tabs__month-btn">Март</button>
		</div>
	</div>
	<div class="media__content">
		<h2 class="media__content-title">Февраль</h2>
		<ul class="media__content-list">
			<li class="media__content-item"><a href="#" target="_blank">Публикации о МУК ТБС в СМИ за февраль 2022 г.
				</a>
			</li>
			<li class="media__content-item"><a href="#" target="_blank">Для малышей и взрослых // Тула. – 2022. – 2 февр. –
					С. 14.
				</a>
			</li>
			<li class="media__content-item"><a href="#" target="_blank">Газета начинает серию публикаций о книжных новинках,
					поступающих в Тульскую
					библиотечную систему. Рассказывает о новых
					изданиях зав. отделом информационных и справочных услуг ЦГБ им. Л.Н.Толстого Ольга Михайлина.
				</a>
			</li>
			<li class="media__content-item"><a href="#" target="_blank">Иванова, Людмила. Врагу не сдается и в памяти
					остается / Л.
					Иванова // Тульские
					известия. – 2022. – 16 февр. – С. 24-25:
					ил.
				</a>
			</li>
			<li class="media__content-item"><a href="#" target="_blank">О музее морской славы России, экспонатах, связанных
					с
					именем В.Ф.Руднева в модельной
					библиотеке № 3 им. В.Ф.Руднева.
				</a>
			</li>
		</ul>
	</div>
	<!-- /.media__item -->
</section>