<section class="order__form form__wrapper">
	<h2 class="order__form-title form-title section-title">Форма для предварительного заказа литературы</h2>
	<form class="form" action="">
		<div class="form__input form__input-surname">
			<label class="input-label" for="surname">Фамилия <span>*</span></label>
			<input type="text" name="surname" required>
		</div>
		<div class="form__input form__input-name">
			<label class="input-label" for="name">Имя&nbsp;<span>*</span></label>
			<input type="text" name="name" required>
		</div>
		<div class="form__input form__input-patronym">
			<label class="input-label" for="patronym">Отчество&nbsp;<span>*</span></label>
			<input type="text" name="patronym" required>
		</div>
		<div class="form__input form__input-email">
			<label class="input-label" for="email">Эл. почта&nbsp;<span>*</span></label>
			<input type="text" name="email" required>
		</div>
		<div class="form__input form__input-phone">
			<label class="input-label" for="phone">Телефон&nbsp;<span>*</span></label>
			<input type="text" name="phone" required>
		</div>
		<div class="form__input form__input-books">
			<label class="input-label" for="book">Мне необходиы следующие книги: <br>
				Укажите автора и название, список должен содержать не более 5 наименований)&nbsp;<span>*</span></label>
			<input type="text" name="book" required>
			<input type="text" name="book" required>
			<input type="text" name="book" required>
			<input type="text" name="book" required>
			<input type="text" name="book" required>
		</div>
		<p class="input-label">Мне удобнее забрать книги в следующей библиотеке:&nbsp;<span>*</span></p>
		<select class="form__input form__select">
			<option class="option-default" disabled selected value>Библиотека им. Л.Н. Толстого</option>
			<option value="1">Библиотека им. Л.Н. Толстого</option>
			<option value="2">Библиотека им. Л.Н. Толстого</option>
		</select>
		<button class="form-btn link-btn" type="submit">Отправить</button>
	</form>
</section>