<section class="question__form form__wrapper">
	<form class="form" action="">

		<div class="form__inputs">
			<div class="form__input form__input-name">
				<label class="input-label" for="name">Ваше имя&nbsp;<span>*</span></label>
				<input type="text" name="name" required>
			</div>
			<div class="form__input form__input-email">
				<label class="input-label" for="email">Ваша почта&nbsp;<span>*</span></label>
				<input type="text" name="email" required>
			</div>
		</div>
		<div class="form__input form__input-message">
			<label class="input-label" for="message">Ваш вопрос (предложение)&nbsp;<span>*</span></label>
			<textarea name="message" required></textarea>
		</div>
		<button class="form-btn link-btn" type="submit">Отправить</button>
	</form>
</section>