<!-- brands START -->
<section class="brands">
	<h4 class="visuallyhidden">Наши партнеры</h4>
	<div class="container">
		<div class="brands__slider swiper">
			<div class="swiper-wrapper">
				<div class="brands__slide swiper-slide">
					<div class="brands__slide-image">
						<img src="./img/brands/pto.png" alt="Изображение: Партнер">
					</div>
					<p class="brands__slide-name">Правительство <br>Тульской Облсати</p>
				</div>
				<div class="brands__slide swiper-slide">
					<div class="brands__slide-image">
						<img src="./img/brands/ukt.png" alt="Изображение: Партнер">
					</div>
					<p class="brands__slide-name">Управление <br>Культуры и Туризма <br>Администрации Города Тулы</p>
				</div>
				<div class="brands__slide swiper-slide">
					<div class="brands__slide-image">
						<img src="./img/brands/president.png" alt="Изображение: Партнер">
					</div>
					<p class="brands__slide-name">Президент <br>Российской Федерации</p>
				</div>
				<div class="brands__slide swiper-slide">
					<div class="brands__slide-image">
						<img src="./img/brands/neb.png" alt="Изображение: Партнер">
					</div>
					<p class="brands__slide-name">Национальная <br>Электронная <br>Библиотека</p>
				</div>
			</div>
		</div>
		<div class="brands__slider-prev slider-prev"></div>
		<div class="brands__slider-next slider-next"></div>
	</div>
	<!-- /.container -->
</section>
<!-- brands END -->