<!-- CATEGORIES START -->
<section class="categories">
	<div class="container">
		<div class="categories__wrapper">
			<div class="categories__item categories-news">
				<h3 class="categories-title">Новости</h3>
				<div class="categories__slider categories__slider-news swiper">
					<div class="swiper-wrapper">
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/news.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Открытие Торховской поселковой модельной
									библиотеки</h4>
								<p class="categories__slide-text">Состоялось торжественное открытие Торховской поселковой модельной
									библиотеки нового поколения.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
							<div class="categories__date">
								<div class="categories__date-month">Февраль
								</div>
								<div class="categories__date-day">23</div>
							</div>
						</div>
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/news.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Открытие Торховской поселковой модельной
									библиотеки</h4>
								<p class="categories__slide-text">Состоялось торжественное открытие Торховской поселковой модельной
									библиотеки нового поколения.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
							<div class="categories__date">
								<div class="categories__date-month">Февраль
								</div>
								<div class="categories__date-day">24</div>
							</div>
						</div>
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/news.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Открытие Торховской поселковой модельной
									библиотеки</h4>
								<p class="categories__slide-text">Состоялось торжественное открытие Торховской поселковой модельной
									библиотеки нового поколения.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
							<div class="categories__date">
								<div class="categories__date-month">Февраль
								</div>
								<div class="categories__date-day">23</div>
							</div>
						</div>
					</div>
					<div class="categories__slider-prev slider-prev"></div>
					<div class="categories__slider-next slider-next"></div>
					<!-- <div class="categories__slider-dots slider-dots swiper-pagination"></div> -->
				</div>
			</div>
			<!-- /.categories-news -->
			<div class="categories__item categories-catalog">
				<h3 class="categories-title">Электронный каталог</h3>
				<div class="categories__slider categories__slider-catalog swiper">
					<div class="swiper-wrapper">
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/catalog.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Электронный каталог</h4>
								<p class="categories__slide-text">На нашем сайте работает сервис «Электронный каталог». С его помощью вы
									можете самостоятельно находить интересующую вас
									литературу без участия библиотекаря.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/catalog.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Электронный каталог</h4>
								<p class="categories__slide-text">На нашем сайте работает сервис «Электронный каталог». С его помощью вы
									можете самостоятельно находить интересующую вас
									литературу без участия библиотекаря.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/catalog.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Электронный каталог</h4>
								<p class="categories__slide-text">На нашем сайте работает сервис «Электронный каталог». С его помощью вы
									можете самостоятельно находить интересующую вас
									литературу без участия библиотекаря.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
					</div>
					<div class="categories__slider-prev slider-prev"></div>
					<div class="categories__slider-next slider-next"></div>
					<!-- <div class="categories__slider-dots slider-dots swiper-pagination"></div> -->
				</div>
			</div>
			<!-- /.categories-catalog -->
			<div class="categories__item categories-projects">
				<h3 class="categories-title">Проекты</h3>
				<div class="categories__slider categories__slider-projects swiper">
					<div class="swiper-wrapper">
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/projects.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Проекты</h4>
								<p class="categories__slide-text">МУК «Тульская библиотечная система» принимает участие в разработке и
									реализации различных программ, проектов и акций,
									направленных на развитие информационной деятельности библиотек.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/projects.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Проекты</h4>
								<p class="categories__slide-text">МУК «Тульская библиотечная система» принимает участие в разработке и
									реализации различных программ, проектов и акций,
									направленных на развитие информационной деятельности библиотек.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/projects.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">Проекты</h4>
								<p class="categories__slide-text">МУК «Тульская библиотечная система» принимает участие в разработке и
									реализации различных программ, проектов и акций,
									направленных на развитие информационной деятельности библиотек.</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
					</div>
					<div class="categories__slider-prev slider-prev"></div>
					<div class="categories__slider-next slider-next"></div>
					<!-- <div class="categories__slider-dots slider-dots swiper-pagination"></div> -->
				</div>
			</div>
			<!-- /.categories-projects -->
			<div class="categories__item categories-gallery">
				<h3 class="categories-title">Виртуальные выставки</h3>
				<div class="categories__slider categories__slider-gallery swiper">
					<div class="swiper-wrapper">
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/gallery.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">«У края Поля Дикого на страже»</h4>
								<p class="categories__slide-text">Выставка приурочена ко Дню воинской славы России — дню победы русских
									полков во главе с князем Дмитрием Донским над
									монголо-татарскими войсками в Куликовской битве (1380).</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/gallery.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">«У края Поля Дикого на страже»</h4>
								<p class="categories__slide-text">Выставка приурочена ко Дню воинской славы России — дню победы русских
									полков во главе с князем Дмитрием Донским над
									монголо-татарскими войсками в Куликовской битве (1380).</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
						<div class="categories__slide swiper-slide">
							<div class="categories__slide-image">
								<img src="./img/categories/gallery.png" alt="Фото: Новость">
							</div>
							<div class="categories__slide-info">
								<h4 class="categories__slide-title">«У края Поля Дикого на страже»</h4>
								<p class="categories__slide-text">Выставка приурочена ко Дню воинской славы России — дню победы русских
									полков во главе с князем Дмитрием Донским над
									монголо-татарскими войсками в Куликовской битве (1380).</p>
								<a class="categories__schedule-all" href="/">
									<span>Посмотреть полностью</span>
									<img src="./img/svg/next-arrow.svg" alt="Иконка: Стрелка">
								</a>
							</div>
						</div>
						<!-- /.categories__slide -->
					</div>
					<div class="categories__slider-prev slider-prev"></div>
					<div class="categories__slider-next slider-next"></div>
					<!-- <div class="categories__slider-dots slider-dots swiper-pagination"></div> -->
				</div>
			</div>
			<!-- /.categories-gallery -->

		</div>
	</div>
	<!-- /.container -->
</section>
<!-- CATEGORIES END -->