<!-- NOVELTY BOOKS START -->
<section class="novelty__books books">
	<div class="container">
		<div class="books__wrapper">
			<h2 class="section-title books-title">Новые поступления</h2>
			<div class="novelty__slider books__slider swiper">
				<div class="swiper-wrapper">
					<div class="books__slide swiper-slide">
						<img class="books__slide-image books__slide-image" src="./img/novelty/book-1.png" alt="Изображение: Книга">
						<div class="books__slide-info books__slide-info">
							<span class="books__slide-name books__slide-name">Дарители. <br>Земля забытых</span>
							<span class="books__slide-author books__slide-author">Екатерина Соболь</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-2.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Братство Коннора</span>
							<span class="books__slide-author">Джиллиан</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-3.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Гарри Поттер <br>
								и Принц-полукровка</span>
							<span class="books__slide-author">Джоан Кэтлин Роулинг</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-4.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Элизиум. <br>
								Алекс и монеты</span>
							<span class="books__slide-author">Александр Андерсон</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-5.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Дракула</span>
							<span class="books__slide-author">Брэм Стокер</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-6.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Элементарная магия</span>
							<span class="books__slide-author">Лина Алфеева</span>
						</div>
					</div>
					<div class="books__slide swiper-slide">
						<img class="books__slide-image" src="./img/novelty/book-7.png" alt="Изображение: Книга">
						<div class="books__slide-info">
							<span class="books__slide-name">Адептка</span>
							<span class="books__slide-author">Елена Звёздная</span>
						</div>
					</div>
				</div>
				<div class="novelty__slider-dots books__slider-dots slider-dots"></div>
				<div class="novelty__slider-next books__slider-next slider-prev"></div>
				<div class="novelty__slider-next books__slider-next slider-next"></div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- NOVELTY BOOKS END -->